H1{
Font-family:verdana;
Font-weight:normal;
Color:white;
Text-align:center;
Font-size:50px;
}
H2{

Font-family:verdana;
Font-weight:normal;
Color:aquamarine;
Text-align:center;
Font-size:16px;
}

H3{
Font-family:verdana;
Font-size:21px;
Color:gray;
Text-align:center;
}

H4{
Font-family:verdana;
Font-size:21px;
Color:gray;
Text-align:right;
}